Repository yatima-inc/yatima, pull requests merged in 2022-06, with the labels that each got.

#35 mp/15 lean shift subst
  Yatima/Expr.lean
Labels: wip

#53 Addressing loop on `yatima` binary
  Foo.lean
  Main.lean
  Yatima/Compiler/FromLean.lean
  Yatima/Compiler/Pretty.lean
  Yatima/Const.lean
  Yatima/DebugUtils.lean
  examples/Foo.lean
  examples/Prelude.lean
Labels: lean

#55 Better printing/debug structure
  Main.lean
  README.md
  Yatima/Compiler/CompileM.lean
  Yatima/Compiler/FromLean.lean
  Yatima/Compiler/Pretty.lean
  Yatima/Compiler/Printing.lean
  Yatima/DebugUtils.lean
Labels: enhancement, lean, ready

#45 Yatima-lang expression generator
  Yatima/Tests/ExprGenerator.lean
Labels: lean

#73 Properly filtering undesired constants
  Yatima/Compiler/Filtering.lean
  Yatima/Compiler/FromLean.lean
Labels: enhancement, lean

#46 Pretty-printing and property-tests
  yatima-rs/src/constant.rs
  yatima-rs/src/environment.rs
  yatima-rs/src/expression.rs
  yatima-rs/src/lib.rs
  yatima-rs/src/name.rs
  yatima-rs/src/parse.rs
  yatima-rs/src/parse/constant.rs
  yatima-rs/src/parse/env.rs
  yatima-rs/src/parse/expr.rs
  yatima-rs/src/parse/univ.rs
  yatima-rs/src/parse/utils.rs
  yatima-rs/src/typechecker/expression.rs
  yatima-rs/src/typechecker/from_anon.rs
  yatima-rs/src/universe.rs
Labels: rust
