Repository yatima-inc/yatima, pull requests merged in 2022-07, with the labels that each got.

#87 Fixing delta computation
  Yatima/Compiler/Frontend.lean
Labels: bug, ready

#89 Remove the need for `lake env` before calling our yatima binary
  Yatima/Compiler/Frontend.lean
  examples/Foo.lean
Labels: enhancement, ready

#93 quickfix: Env => Store
  Yatima/Compiler/Frontend.lean
Labels: bug

#96 Proper CLI args handling and multiple file compilation
  Main.lean
  Yatima/Compiler/CompileM.lean
  Yatima/Compiler/Frontend.lean
  Yatima/Store.lean
  examples/MutDefs.lean
  lakefile.lean
Labels: enhancement, lean, ready

#97 Some tests for content-addressing
  Fixtures/Definitions.lean
  Fixtures/Inductives.lean
  Main.lean
  Yatima/Compiler/CompileM.lean
  Yatima/Compiler/Frontend.lean
  Yatima/Compiler/Printing.lean
  Yatima/Name.lean
  Yatima/Tests/CID.lean
Labels: bug, enhancement, lean, ready

#114 Optimizing `IO`
  Main.lean
  Tests/AnonCidGroups.lean
  Tests/Termination.lean
  Yatima/Compiler/CompileM.lean
  Yatima/Compiler/Frontend.lean
  Yatima/Compiler/Printing.lean
Labels: enhancement, lean

#115 added a lake setup script and improved the execution logging
  Main.lean
  README.md
  Yatima/Compiler/CompileM.lean
  Yatima/Compiler/Frontend.lean
  Yatima/Compiler/Utils.lean
  Yatima/Cronos.lean
  lakefile.lean
Labels: enhancement

#126 updating github action workflow
  .github/workflows/ci.yml
  Main.lean
  Yatima.lean
  Yatima/Tests/ExprGenerator.lean
  lakefile.lean
Labels: infra

#127 handling empty parameters
  Main.lean
Labels: enhancement, CLI

#111 Refactor: Replacing `Expr` with `Typechecker.Expr`
  Fixtures/Debug/NatLE.lean
  Main.lean
  Tests/AnonCidGroups.lean
  Tests/Termination.lean
  Yatima.lean
  Yatima/Cid.lean
  Yatima/Compiler/CompileM.lean
  Yatima/Compiler/Compiler.lean
  Yatima/Compiler/Frontend.lean
  Yatima/Compiler/Printing.lean
  Yatima/Compiler/Utils.lean
  Yatima/Const.lean
  Yatima/Expr.lean
  Yatima/Name.lean
  Yatima/Store.lean
  Yatima/Tests/ExprGenerator.lean
  Yatima/ToIpld.lean
  Yatima/Typechecker/CheckM.lean
  Yatima/Typechecker/Debug.lean
  Yatima/Typechecker/Equal.lean
  Yatima/Typechecker/Eval.lean
  Yatima/Typechecker/Expr.lean
  Yatima/Typechecker/FromIPLD.lean
  Yatima/Typechecker/Infer.lean
  Yatima/Typechecker/Univ.lean
  Yatima/Typechecker/Value.lean
  Yatima/Univ.lean
Labels: wip, compiler, typechecker

#119 Partly implement the Yatima to Lurk transpiler
  Fixtures/LurkTranslation/SimplePrelude.lean
  Yatima.lean
  Yatima/ForLurkRepo/AST.lean
  Yatima/ForLurkRepo/DSL.lean
  Yatima/ForLurkRepo/Printing.lean
  Yatima/ForLurkRepo/Utils.lean
  Yatima/Transpiler/Test.lean
  Yatima/Transpiler/TranspileM.lean
  Yatima/Transpiler/Transpiler.lean
  Yatima/Transpiler/Utils.lean
  Yatima/Typechecker/FromIpld.lean
Labels: wip, transpiler

#130 `FromIPLD.lean` tests
  Tests/FromIpld.lean
  Yatima.lean
  Yatima/Compiler/CompileM.lean
  Yatima/Compiler/Compiler.lean
  Yatima/Datatypes/Const.lean
  Yatima/Datatypes/Expr.lean
  Yatima/Datatypes/Store.lean
  Yatima/Datatypes/Univ.lean
  Yatima/Ipld/FromIpld.lean
  Yatima/Ipld/ToIpld.lean
  Yatima/Transpiler/Test.lean
  Yatima/Transpiler/TranspileM.lean
  Yatima/Transpiler/Transpiler.lean
  Yatima/Typechecker/Typechecker.lean
  lakefile.lean
Labels: wip, compiler

#132 Update README.md
  README.md
Labels: ready, infra

#134 grouping compiler error messages with an inductive type
  Tests/AnonCidGroups.lean
  Tests/FromIpld.lean
  Yatima.lean
  Yatima/Cli/CompileCmd.lean
  Yatima/Compiler/CompileError.lean
  Yatima/Compiler/CompileM.lean
  Yatima/Compiler/Compiler.lean
  Yatima/Compiler/Printing.lean
Labels: ready, compiler
